body {
    overflow: hidden;
}

.hud-content {
	height: 100%;
    min-height: 100%;  
    width: 90%;
    max-width: 500px;
	display: flex;
	flex-direction: column;
    padding: 8px 0 8px 0;
}

.hud-block {
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 8px;
    user-select: none;
}

#hud-header {
    margin-top: 8px;
}

#in-match-map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
    flex: 1;
}

.hud-tile-left, .hud-tile-center, .hud-tile-right {
    flex-direction: row;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0 8px 0 8px;
}

.hud-tile-center p{
    font-size: 40pt;
    width: 100%;
    color: var(--green-accent);
}

.hud-tile-left p, .hud-tile-right p{
    font-size: 28pt;
    width: 100%;
}

.hud-tile-left {
    text-align: left;
    margin-right: 4px;
}
.hud-tile-right {
    text-align: right;
    margin-left: 4px;
}

.hud-red, .hud-blue {
    color: var(--cream);
    cursor: pointer;
}

.hud-tan {
    color: var(--green-accent);
    background-color: var(--tan);
}

.hud-red {
    background-color: var(--red-accent);
  }
.hud-red:hover {
    background-color: var(--red-hover);
}
.hud-blue {
    background-color: var(--blue-accent);
}
.hud-blue:hover {
    background-color: var(--blue-hover);
}

#tagged-button {
    text-align: center;
}

h2 {
    color: var(--green-accent);
    font-weight: 600;
    font-size:60px;
    margin: 0;
    user-select: none;
    padding: 0px;
    text-align: center;
    align-items: center;
  }