:root {
  --cream: #f2edd7;
  --tan: #d0c8b2;
  --dark-tan: #a0937d;
  --green-accent: #3a6351;
  --blue-accent: #5f939a;
  --blue-hover: hsl(187, 28%, 35%);
  --red-accent: #aa5656;
  --red-hover: #7c3939;
  --main-font: "Afacad", 'sans-serif'
  
}

html,
body {
  font-family: var(--main-font);
  font-weight: 400;
  background-color: var(--cream);
  margin: auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

h1 {
  color: var(--green-accent);
  font-weight: 600;
  font-size:72px;
  margin: 0;
  user-select: none;
  margin-bottom: 16px;
  text-align: center;
}

.navbar {
  background-color: var(--blue-accent);
}

.navbar a {
  color: var(--cream);
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--green-accent)
}

.container {
  /* all content is hidden by default */
  visibility: hidden;
  max-width: none;
  position:absolute;
  top:0;
  left:0;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#loading { 
  /* container of id 'loading' is special */
  z-index:1000;
  background: rgba(150,150,150,0.8);
}

.content {
  width: 75%;
  max-width: 500px;
}

.red-button, .blue-button {
  display: flex;
  height:56px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.red-button p, .blue-button p{
  color: var(--cream);
  font-size: 40px;
  user-select: none;
}

input {
  width: 100%;
  height: 64px;
  border-style: none;
  font-size: 40px;
  text-align: center;
  font-family: var(--main-font);
  padding: 0;
  color: var(--green-accent)
}

.red-button {
  background-color: var(--red-accent);
}
.red-button:hover {
  background-color: var(--red-hover);
}
.blue-button {
  background-color: var(--blue-accent);
}
.blue-button:hover {
  background-color: var(--blue-hover);
}